{% extends "catalog/base_generic.html" %}

{% block sidebar %}
    {% include 'include/_sidebar_categories.html' %}
{% endblock %}

{% block content %}
    <h6>{{ title }}</h6>
    {% for item in news_list %}
        <div class="card">
            <div class="card-header">Категория: {{ item.category }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">
                <p>{{ item.content|truncatewords:40 }}</p>
                <p>{{ item.created_at|timesince }} назад</p>
                <a href="" class="btn btn-primary">Подробнее ...</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}