<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>СПС "Документы"</title>
    {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap4 %}
    {#    <script src="{% bootstrap_jquery_url %}"></script>#}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

{% include 'include/_navbar.html' %}

<div class="container-fluid mt-4">
    <div class="row">

        <div class="col-md-2">
            {% block sidebar %}SIDEBAR{% endblock %}
        </div>

        <div class="col-md-10">
            {% block content %}CONTENT{% endblock %}
        </div>

    </div>
</div>
{#{% block pagination %}#}
{#    {% if is_paginated %}#}
{#        <div class="pagination">#}
{#                        <span class="page-links">#}
{#                            {% if page_obj.has_previous %}#}
{#                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">#}
{#                                    Предыдущая страница</a>#}
{#                            {% endif %}#}
{#                            <span class="page-current">#}
{#                                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.#}
{#                          </span>#}
{#                            {% if page_obj.has_next %}#}
{#                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">#}
{#                                  Следующая страница.</a>#}
{#                            {% endif %}#}
{#                      </span>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock pagination %}#}

</body>

</html>