{# Список документов (на основе функции document_list) #}

{% extends "base_generic.html" %}

{% block content %}
    <h5>Список документов (на основе функции <b>document_list</b>)</h5>
        <form action="{% url 'docs_list' %}" method="get">
        <input type="text" name="search_query" size="80">
        <input type="submit" value="Найти документ">
    </form>
    <br>
    <ul>
    {% for doc in doc_list %}
        <li>
        <a href="{% url 'document' pk=doc.pk %}">
            {{ doc.doc_type }} от {{ doc.date_issue }} №{{ doc.doc_number }}
            ({{ doc.doc_status }})</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}