<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>СПС "Документы"</title>
    {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap4 %}
    {%  comment %}
        <script src="{% bootstrap_jquery_url %}"></script>
    {% endcomment %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

{% include 'include/_navbar.html' %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2 mt-4">
            {% block sidebar %}
                {% include 'include/_sidebar.html' %}
            {% endblock %}
        </div>

        <div class="col-md-9 mt-4">
            {% block content %}CONTENT{% endblock %}
        </div>

        <div class="col-md-1 mt-4">
            {% block rightbar %}
                {% include 'include/_rightbar.html' %}
            {% endblock %}
        </div>

    </div>
</div>
</body>

</html>