{#Список документов на основе класса ListView#}

{% extends "base_generic.html" %}

{% block content %}
    <h3>Список документов (на основе класса <b>ListView</b>)</h3>
    {% if document_list %}
        <ul>
            {% for document in document_list %}
                <li>
                    <a href="{{ document.get_absolute_url }}">
                        {{ document.doc_type }} от {{ document.date_issue }} №{{ document.doc_number }}
                        ({{ document.status }})</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Доступные документы отсутствуют.</p>
    {% endif %}
{% endblock %}